name: Labeler

permissions:
  contents: read
  pull-requests: write

on:
  pull_request:
    branches: ["main", "lovable-dev"]
    types: [opened, reopened, synchronize, ready_for_review]

jobs:
  label:
    name: labeler
    runs-on: ubuntu-latest
    steps:
      - name: Apply labels
        uses: actions/labeler@v5
        with:
          sync-labels: true
